/* ul{
    margin-left: 45rem;
} */
/* hero setion  */
.images{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgb(15, 0, 0),rgb(23, 1, 1)) !important;
    position: absolute;
    z-index: -1;

}



.navbar-item{
    /* display: flex !important; */
    /* flex-direction: row !important; */
    /* justify-content: space-between !important; */
    
}





@media only screen and (max-width:1000px) {
ul{
    margin-right: rem !important;
}
}